<!DOCTYPE html>
<html>
<head>
  <title>Emtrack</title>
  <%= stylesheet_link_tag    "emtrack/application", media: "all" %>
  <%= javascript_include_tag "emtrack/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
